html,
body {
  background-image: url(https://i.pinimg.com/564x/ec/ab/ba/ecabba37563299a5dba87d6058df3aac.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  /* margin: 20px 20px 20px 20px; */
}
@import url("https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  font-family: "Orbitron", sans-serif;
  font-size: small;
  /* font-weight: bold; */
  color: black;
  text-align: center;
  height: 100%;
  width: 80%;
  justify-content: center;
}

.a {
  color: #e7484f;
}
.b {
  color: #f68b1d;
}
.c {
  color: #fced00;
}
.d {
  color: #009e4f;
}
.e {
  color: #00aac3;
}
.f {
  color: #732982;
}

/* Landing page  */

.landingContent {
  position: absolute;
  bottom: 10%;
  right: 10%;
  left: 10%;
  top: 10%;
}
h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}

p {
  text-align: center;
  color: white;
  font-size: medium;
}

/*buttons*/
.container {
  display: flex;
  align-content: space-between;
  height: 60px;
  justify-content: center;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}
.rainbow {
  background-color: #f66;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 10px;
}

.rainbow-1 {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.start {
  background-color: #ff48c4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  margin: 20px;
}

/*Description*/

/*Cities title, country, searchBar*/

.searchBar {
  display: flex;
}
.cityName {
  text-align: center;
  color: white;
  font-size: medium;
}
.cityCountry {
  text-align: center;
  color: white;
  font-size: small;
}
.seeItineraries {
  background-color: #ff48c4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px;
}
.citiesDisplay {
  margin: 40px 40px 40px 40px;
}
