html,
body {
  background-image: url(https://i.pinimg.com/564x/ec/ab/ba/ecabba37563299a5dba87d6058df3aac.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  /* margin: 20px 20px 20px 20px; */
}
@import url("https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
  font-family: "Orbitron", sans-serif;
  font-size: small;
  /* font-weight: bold; */
  color: black;
  text-align: center;
  height: 100%;
  justify-content: center;
}

.a {
  color: #e7484f;
}
.b {
  color: #f68b1d;
}
.c {
  color: #fced00;
}
.d {
  color: #009e4f;
}
.e {
  color: #00aac3;
}
.f {
  color: #732982;
}

/* Landing page  */

.landingContent {
  position: absolute;
  bottom: 10%;
  right: 10%;
  left: 10%;
  top: 10%;
  margin-top: 100px;
}
h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}

p {
  text-align: center;
  color: white;
}

/*buttons*/
.container {
  display: flex;
  align-content: space-between;
  height: 60px;
  justify-content: center;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}
.rainbow {
  background-color: #f66;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 10px;
}

.rainbow-1 {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.start {
  background-color: #ff48c4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  margin: 20px;
}

/*Description*/

/*Cities title, country, searchBar*/

.searchBar {
  display: flex;
  margin-left: 15px;
}
.cityName {
  text-align: center;
  color: white;
  font-size: 30px;
}
.cityCountry {
  text-align: center;
  color: white;
  font-size: small;
}
.seeItineraries {
  background-color: #ff48c4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px;
  font-size: 18px;
}
.citiesDisplay {
  /* margin: 40px 40px 40px 40px; */
  position: absolute;
  bottom: 5%;
  right: 5%;
  top: 5%;
}

.accordion {
  background-color: transparent;
}

/*Itineraries Page*/
.itinerariesInformation {
  text-align: center;
  color: white;
  font-size: 18px;
  margin: 10;
}

.itinerariesContent {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.pactivities {
  color: white;
}
.noactivities {
  color: white;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: transparent;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/*Sign Up*/

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4c5d72;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ed0c0;
  color: #ff48c4;
}

.FormTitle {
  color: #ff48c4;
  font-weight: 300;
  margin-bottom: 50px;
}
.FormTitle__Link {
  color: #ff48c4;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}
.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid white;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #ff48c4;
}

.FormField__Button {
  background-color: #ff48c4;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

/*Footer*/

footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  /* padding-bottom: 60px; */
}
